{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>

    </title>

   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'home/css/newdesigner/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link href="{% static 'home/css/newdesigner/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/newhomepage/css/stylenew.css' %}" rel="stylesheet}">
    <link href="{% static 'home/css/newhomepage/css/newstyle2.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/newhomepage/css/newstylenew.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">


  </head>

  <body>

        <header class="r-header" id="header">
                <!-- header bottom -->
                <div class="header-bottom">
                <div class="container padd">
                <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 logo padd">
                    <a class="navbar-brand" href="#"><img src="{% static 'home/images/logo.png' %}" alt="logo"></a>
                </div>

                <div class="col-md-6 col-sm-6 mainmnu">
                <nav>
                    <ul class="nav navbar-nav navbar-right main-nav" >
                        <li class="has-dropdown sub-menu course">
                            <a class="b-n" href="javascript:void(0);">Courses</a>

                            <div class="dropdowns transparent-style" id="course">
                                <div class="container text-1">
                                    <div class="col-md-3 col-sm-4">
                                        <ul class="">
                                        <!--li></li-->
                                            <li><a href="#"><span class="link-icon"><i class = "fa fa-linux fa-2x"></i></span>Linux Fundamentals</a>
                                              <a href="#"><span class="link-icon"><i class = "fa fa-linux fa-2x"></i></span>Linux Proficiency</a></li>
                                            <li><a href="#"><span class="link-icon"><i class = "fa fa-terminal fa-2x"></i></span>HTML/CSS</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                    <ul class="">
                                    <!--li></li-->

                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-cloud fa-2x"></i></span>Amazon AWS</a></li>
                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-cogs fa-2x"></i></span>PUPPET Training</a></li>

                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-file-code-o fa-2x"></i></span>JS/AngularJs v4</a></li>



                                    </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                    <ul class="">
                                    <!--li></li-->
                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-server fa-2x"></i></span>RHCSA</a></li>
                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-file-code-o fa-2x"></i></span>Java</a></li>
                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-lock fa-2x"></i></span>Cybersecurity</a></li>

                                    </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                    <ul class="">

                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-pencil-square-o fa-2x"></i></span>Independent Authors</a></li>

                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-line-chart fa-2x"></i></span>Business Analysis</a></li>

                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-server fa-2x"></i></span>Database</a></li>

                                    </ul>
                                    </div>



                                        <div class="col-md-3 col-sm-4">
                                            <ul class="">
                                            <li ><a href="#" ><span class="link-icon"><img src="images/icon5.png" alt="img" /></span>Name </a></li>

                                            </ul>
                                        </div>



                                </div>
                            </div>
                        </li>
                        <li class="has-dropdown sub-menu tool">
                            <a class="b-n" href="javascript:void(0);">Tools</a>

                            <div class="dropdowns transparent-style" id="tool">
                                <div class="container text-1">


                                <div class="col-md-4 col-sm-4"><ul>


                                    <li><a href="#"><span class="link-icon"><i class = "fa fa-cog fa-2x"></i></span>Monitoring</a></li>
                                    <li>
                                    </ul></div>


                                </div>
                            </div>


                        </li>

                        <li class="has-dropdown sub-menu company">
                            <a class="b-n" href="javascript:void(0)">Company</a>
                            <div class="dropdowns transparent-style" id="company">
                                <div class="container text-1">
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><a href="<?php echo SITEURL ;?>companys/aboutus"><span class="link-icon"><i class = "fa fa-home fa-2x"></i></span>About Us</a></li>
                                        <li><a href="<?php echo SITEURL ;?>companys/location"><span class="link-icon"><i class = "fa fa-map-marker fa-2x"></i></span>Location</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><a href="<?php echo SITEURL ;?>companys/jobs"><span class="link-icon"><i class = "fa fa-suitcase fa-2x"></i></span>Jobs</a></li>
                                        <li><a href="<?php echo SITEURL ;?>companys/policy"><span class="link-icon"><i class = "fa fa-gavel fa-2x"></i></span>Policies</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><a href="<?php echo SITEURL ;?>companys/contact"><span class="link-icon"><i class = "fa fa-phone-square fa-2x"></i></span>Contact Us</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </li>

                        <li class=" sub-menu ">
                            <a class="" href="javascript:void(0)">Try Free</a>

                        </li>

                      </ul>
                </nav>


                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 header-login">
                        <a href="{% url 'login' %}">Log In</a>
                        <a class="active" href="{% url 'signup' %}">Sign Up</a>
                </div>

                </div>
                </div>
                </div>
                </header>

                <div class="slides" role="listbox">
                    <div class=" text-center headernew2" >
                    <h1>Work Experience and Job Placement</h1>
                        <p>Training Included</p>
                    <div class="sldbtnd">
                     <a class="btn btn-lg btn-warning buttonss" href="#" role="button">Learn More</a>
                    </div>
                 </div>
                </div>


<!-- Get 1 on 1 Training        -->

<div class="container oneonone">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h2>
                Get 1:1 <span> live training</span><br> tailored to you</h2>
                <div class="row">

                      <div class="col-md-6 col-sm-6 btns2">
                      <a href="/tutorials/basics_of_linux_lectures"><img src="{% static 'home/images/linuxx.png' %}" alt="First slide"></a>
                      </div>

                      <div class="col-md-6 col-sm-6 btns2">
                      <a href="/tutorials/java"><img src="{% static 'home/images/java.png' %}" alt="First slide"></a>
                      </div>

                      <div class="col-md-6 col-sm-6 btns2">
                      <a href="/tutorials/aws"><img src="{% static 'home/images/awssa.png' %}" alt="First slide"></a>
                      </div>

                      <div class="col-md-6 col-sm-6">
                      <a href="/tutorials/userinterest"><img src="{% static 'home/images/views.png' %}" class="btns2"></a>
                      <a href="<?php echo SITEURL.'/freeuser'; ?>"><img src="{% static 'home/images/btns.png' %}" class="btns">
                      </div></a>
                   </div>
          </div>
            <div class="col-md-6 col-sm-12 oneon">
              <img src="{% static 'home/images/training.png' %}" class="img-responsive">
              </div>

        </div>

      </div>


       <!-- Pick your hands-on training -->
      <div class="container pick">
          <div class="header-section text-center ">
            <h3>
              Pick your hands-on training category</h3>
          </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12" >
                  <div class="box">
                  <h2>Certification Class</h2> <br>
                  <p>One-On-One <br> 30 days</p> <br>
                   <div id= "cert">
                    <img class="cert img-responsive" src="{% static 'home/images/pupet.png' %}" alt="" >
                    </div>
                    <a href="{% url 'selfstudy' %}">
                    <div class="col-md-4 col-sm-12 col-xs-12 lin btns2">
                      <h4>Linux</h4>
                      <div class="lin-border"></div>
                    </div></a>

                    <a href="<?php echo SITEURL.'Homes/selfstudy2'; ?>">
                    <div class="col-md-4 col-sm-12 col-xs-12 aws btns2">
                      <h4>AWS</h4>
                      <div class="aws-border"></div>
                    </div></a>

                    <a href="<?php echo SITEURL.'Homes/selfstudy3'; ?>">
                    <div class="col-md-4 col-sm-12 col-xs-12 oracle btns2">
                      <h4>Oracle <br>Database</h4>
                      <div class="oracle-border"></div>
                    </div></a>
                    </div>
                  </div>

            <div class="col-md-6 col-sm-12">
              <div class="box">
              <h2 id="box-1">Full Training Course</h2> <br>
              <h2 id="box-2">Full Training Course</h2> <br>
                <p id="force-p">One-On-One <br> 3 months</p> <br>
                  <div id= "puppet">
                    <img class="cert img-responsive" src="{% static 'home/images/pupett.png' %}">
                  </div>
                  <a href="<?php echo SITEURL.'Homes/instructorled?course-title=Linux'; ?>">
                  <div class="col-md-4 col-sm-12 col-xs-12 lin btns2" id="force-b">
                      <h4>Linux</h4>
                      <div class="lin-border"></div>
                  </div></a>

                  <a href="<?php echo SITEURL.'Homes/instructorled2'; ?>">
                    <div class="col-md-4 col-sm-12 col-xs-12 aws btns2" id="force-b">
                      <h4>AWS</h4>
                      <div class="aws-border"></div>
                  </div></a>

                  <a href="<?php echo SITEURL.'Homes/instructorled3'; ?>">
                    <div class="col-md-4 col-sm-12 col-xs-12 oracle btns2" id="force-bb">
                      <h4>Oracle <br>Database</h4>
                    <div class="oracle-border"></div>
                  </div></a>
              </div>
            </div>
          </div>
        </div>

      <!-- work experience -->

      <div class = "wrapper-2">
        <div class="container">
           <div class="row">
            <div class="col-md-7 col-sm-12 wkeximg" >
            <img class="img-responsive" src="{% static 'home/images/experience.png' %}" alt="">
            </div>
            <div class="col-md-5 col-sm-12">
            <div class="header-sec">
                  <h2>
                  Work Experience</h2>
                <p>By training with our current <br>tools and methods.</p>



                  <a href="<?php echo SITEURL.'Homes/workexperience'; ?>" class="">
                   <button class="btn btn-lg btn-warning butons" id="wkexbtn" style="">Learn More
                   </button></a>
                 </div>
               </div>
               <br>

               <!-- <button class="btn btn-lg btn-warning buttons" style="margin-top:30px; margin-left:15px;">Learn More</button> -->
          </div>
        </div>

      <!-- Job Placement -->

        <div class="container jobs">

       <div class="row">
         <!-- <div id="job"> -->
        <div class="col-md-5 col-sm-12 ">
          <h2>Job Placement</h2>
          <br>
          <p>
          Join Our Job placement program.<br> No payment made unless we get you that job!</p>

          <a href="<?php echo SITEURL.'Jobplacements/'; ?>">
                   <button class="btn btn-lg btn-primary ">Learn More
                   </button></a>
          <!-- <button class="btn btn-lg btn-primary" style="margin-top:30px;">Learn More</button> -->
            </div>
            <div class="col-md-7 col-sm-12">
            <img class="img-responsive jobimg" src="{% static 'home/images/placement.png' %}" alt="First slide">
            </div>
        </div>
        </div>
      </div>
      </div>
      </div>


      <!-- what you get -->
      <div class= "">
        <div class="container wrapper ">
        <div class="header-section text-center what">
                  <h3>What you get signing up on <span> Linuxjobber</span></h3>
                </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
             <div class="wrap">
              <img class="first-slide" src="{% static 'home/images/engine2.png' %}" alt="First slide">
              <h3>A variety of technologies</h3>
              <p>From Linux,Puppet,RHCSA, Java, AWS SA to keep up to speed with good programming practices.</p>
             </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="wrap2">
                <img class="first-slide" src="{% static 'home/images/tutor.png' %}" alt="First slide">
                <h3>Help from experienced tutors</h3>
                <p>Our mentors go through a strict application and vetting process that evaluates their coding skills.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="wrap3">
                <img class="first-slide" src="{% static 'home/images/kid.png' %}" alt="First slide">
                <h3>Getting started is easy</h3>
                <p>Take advantage of our easy set up and billing process to connect with a <br> trainer right away.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Testimonial -->



            <div class="container">
              <div class="row">
                <div class="test">
                <div class="col-md-2 col-sm-4">
                <div class="q1">
                <img src="{% static 'home/images/q1.png' %}">
                </div>
                </div>

                <div class="col-md-8 col-sm-6">
                <div class="text-center" >
                  <div class="tests">
                  <h2>Testimonials</h2><br>
                  <div class="test-img">
                   <img src="{% static 'home/images/dre.png' %}">
                  </div>
                  <div>
                    <p>
                      I will definitely recommend this work experience program.
                    <br> If you have already acquired tech training and employers
                    <br> need you to have work experience,
                    this program will save you. <br> <span> It is what you need.</span></b></p><br>
                    <div class="img-round1">
                    <img src="{% static 'home/images/22.png' %}">
                    </div>
                    <div class="img-round2">
                    <img src="{% static 'home/images/33.png' %}">
                    </div>
                    <div class="img-round3">
                    <img src="{% static 'home/images/44.png' %}">
                    </div>

                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-2 col-sm-4 q2">
                <img src="{% static 'home/images/q2.png' %}">
                </div>
                </div>
              </div>
              <br>
              <hr>
            </div>




      <section class="clients">
            <div class="container">
              <div class="cliente">
              <div class="row">
              <div class="col-md-12">
                <div  class=" text-center">
                  <h2 style= "color: #2F80ED;">Our Clients</h2>
                  <br>
                  <div class="logo">
                  <img src="{% static 'home/images/hotels.png' %}" alt="" style=" width: 227px; height: 80px; margin: 20px;">
                  <img src="{% static 'home/images/ontario.png' %}" alt="" style= "width: 198px; height: 91px; margin: 20px;">
                  <img src="{% static 'home/images/hotelsafrica.png' %}" alt="" style= "width: 195px; height: 84px; margin: 20px;">
                </div>
                </div>
                </div>
              </div>
              </div>
            </div>
          </section>





















 <!--Footer-->
 <footer id="footer" class="footer">
        <section id = "footer-lniks">
          <div class = "row" id = "footer-row">
            <div class ="col-md-3 col-sm-6">
              <img src="{% static 'home/images/logo.png' %}">
            </div>

            <div class = "col-md-3 col-sm-6">
             <h2>Quick Links</h2>
              <ul class="quick-links" style = "margin-top: 26px;  font-size:16px;">

                  <li><a href="<?php echo SITEURL; ?>">Home</a></li>
                  <li><a href="<?php echo SITEURL.'companys/aboutus'; ?>">About US</a></li>
                  <li><a href="<?php echo SITEURL.'homes/resume' ?>">Resume Services</a></li>
                  <li><a href="<?php echo SITEURL.'homes/packages'; ?>">Student Packages</a></li>
                  <li><a href="<?php echo SITEURL.'service' ?>">Server Services</a></li>
                  <li><a href="<?php echo SITEURL.'homes/livehelp' ?>">Live help</a></li>
                  <li><a href="<?php echo SITEURL.'Newprojects/' ?>">Projects</a></li>
                  </ul>
            </div>


            <div class = "col-md-3 col-sm-6">
              <ul class="quick-links2" style = "margin-top: 26px; font-size:16px;">
                <h2>&nbsp;</h2>
                  <li><a href="<?php echo SITEURL.'faq' ?>">FAQ</a></li>
                  <li><a href="<?php echo SITEURL.'companys/contact'; ?>">Contact Us</a></li>
                  <li><a href="<?php echo SITEURL.'users/groupCourse'; ?>">Group Class</a></li>
                  <li><a href="<?php echo SITEURL.'homes/liveinstructor'; ?>">In-Person Training</a></li>
                  <li><a href="<?php echo SITEURL.'homes/workexperience' ?>">Work Experience</a></li>
                  <li><a href="<?php echo SITEURL.'users/gainExperience' ?>">Gain Experience</a></li>
                  <li><a href="<?php echo SITEURL.'Jobplacements/'; ?>">Job Placement Program</a></li>
                  </ul>
            </div>


          <div class = "col-md-3 col-sm-6">
            <h2>Contact Us</h2>
              <ul class="quick-links"  style="margin-top: 26px; font-size:16px;">
                  <li><i class="fa fa-map-marker fa-fw pull-left"></i><p style=" color:#fff;">Address : Suite 700, 6301 Ivy </p></li>
                  <li><p style=" color:#fff;">Lane, Greenbelt, Maryland<p></li>
                  <li><i class="fa fa-envelope fa-fw pull-left"></i><p style=" color:#fff;">Email: admin@linuxjobber.com</p></li>
                  <!-- li><i class="fa fa-phone fa-fw pull-left"></i><p style=" color:#fff;">Call : 1 443 631 7208</p></li -->
              </ul>
            </div>
          </div>


        </section>
        <section class = "footer-center text-center">
        <ul class="social-links">
          <li><a href="https://www.facebook.com/linuxjobber"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="https://www.twitter.com/linuxjobber"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-instagram fa-fw"></i></a></li>
          <li><a href="https://www.linkedin.com/company/linuxjobber"><i class="fa fa-linkedin fa-fw"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus fa-fw"></i></a></li>
        </ul>
          ©2018 LinuxJobber Inc. All rights reserved
        </div>
        </section>
      </footer>
      <!--/ Footer-->







  <script src="<?php echo SITEURL ;?>newdesigner/js/bootstrap.min.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114043971-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114043971-1');
</script>
<script type="text/javascript">
  $(document).ready(function() {
  var flag = 0;
  $(".sub-menu").hover(function () {
	$(".transparent-style").hide();
	$("#header").removeClass("result_hover");
  });
 $(".course").click(function () {

    $("#header").toggleClass("result_hover");
    $("#course").toggle();
});
$(".tool").click(function () {

    $("#header").toggleClass("result_hover");
    $("#tool").toggle();
});

$(".company").click(function () {

    $("#header").toggleClass("result_hover");
    $("#company").toggle();
});

$(".profile").click(function () {

    $("#header").toggleClass("result_hover");
    $("#profile").toggle();
});

$(".admin").click(function () {

    $("#header").toggleClass("result_hover");
    $("#admin").toggle();
});


});

</script>
  </body>
</html>
